html {
    position: relative;
    min-height: 100%;
}

body, table {
    font-family: "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    font-size: 14px;
}

body {
    margin-bottom: 63px;
}

a:hover {
    text-decoration: none;
    background-color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 63px;
}

footer > hr {
    margin: 1em 0;
}

footer > p {
    padding: 0 1em;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

.navbar-nav li a > img {
    height: 2em;
    margin-top: -0.5em;
}