.echart {
    width: 70%;
    height: 400px;
    display: inline-block;
}

.echart-legend {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding-top: 100px;
}

.echart-half {
    width: 50%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
}

.echart-half img {
    position: absolute;
}

.echart-border-right {
    background: url(../img/grey-line.png) right no-repeat;
    padding-top: 106px;
}

.blacklist-status {
    background: url(../img/figure/bg-0.png);
    width: 1140px;
    height: 400px;
    text-align: center;
    padding-top: 160px;
    font-size: 18px;
}

.blacklist-status > p {
    margin-bottom: 17px;
}